
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    user-select: none;
}
body{
    font-family: 'Ubuntu', sans-serif;
    color: aliceblue;
    background-image: linear-gradient(rgb(27, 27, 27),rgb(102, 102, 102));
}
img{
    border-radius: 8px;
}
.button{
    cursor: pointer;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    animation: nhap-nhay 1000ms infinite;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
p{
    line-height: 28px;
    font-size: 12px;
    letter-spacing: 140%;
}
header{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.header > .logo{
    width: 120px;
} 
.em-gai-1{
    
    width: 250px;
} 
main{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
}
.display-table{
    width: 800px;
    height: 420px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(138, 65, 65);
    border-radius: 4rem;
    box-shadow: 10px 10px 10px rgb(50, 50, 50);

}
.result{
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    gap: 1.2rem;
    justify-content: center; 
}
.result > img{
    box-shadow: 3px 3px ;
}
@keyframes nhap-nhay{
    0% {color: white;}
    30% {color: yellow;}
    70% {color: red;}
    100% {color: white}
}
@keyframes border-nhay{
    0% {border-color: white;}
    30% {border-color: yellow;}
    70% {border-color: red;}
    100% {border-color: white;}
    0% {color: white;}
    30% {color: yellow;}
    70% {color: red;}
    100% {color: white}
}

.place-fare{
    margin: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.place-fare > label{
    font-size: 24px;
    animation: nhap-nhay 700ms infinite;
}

#money-bet{
    height: 36px;
    width: 210px;
    font-size:32px ;
}
.win{
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    /* animation: win-animation 1000ms 4; */
}
.win-animation{
    animation: win-animation 1000ms 3;
}
@keyframes win-animation{
    0% {color: white;}
    30% {color: yellow;}
    70% {color: red;}
    100% {color: white}

}
/* ====== BUTTON DAT CUOC ====== */
.bet-action{
    display: flex;
    justify-content: space-around;
}
.btn__bet-xiu,
.btn__bet-tai{
    font-weight: 700;
    text-align: center;
    line-height: 42px;
    width: 150px;
    height: 50px;
    color: black;
    background-color: rgb(185, 151, 40);
    border: rgb(255, 255, 255) solid 4px;
    border-radius: 0.8rem;
    animation: border-nhay 1200ms infinite;
    cursor: pointer;
}
.btn__bet-xiu{
    background-color: rgb(161, 175, 0);
    
}

/* ===== Dot black white ===== */
.history{
    /* position: absolute; */
    display: inline-flex;
    padding: 0 15px;
    background-color:cadetblue;
    border-radius: 100px;
    gap: 4px;
    padding: 6px;
}
.dot-black,
.dot-white{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 1rem;
    background-color: white;
}
.dot-black{
    background-color: black;
}
.surplus{
    margin-top: 3rem;
    font-size: 28px;
}

/* ====== Cac em gai css ====== */

.em-gai-3{
    position: absolute;
    top: -20px;
    left: -80px;
    width:400px;
}
.em-gai-4{
    position: absolute;
    top: -20px;
    right: -80px;
    width:400px;
}
.gai-bao-vay{
    width: 800px;
}

/* ======= FOOTER ====== */
footer > center{
    margin-top: 5rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
/* ======== Login ======== */

.login{
    margin: 2rem;
    width: 300px;
    height: 100px;
    line-height: 42px;
    background-color: rgb(100, 6, 6);
    border-radius: 1rem;
    text-align: center;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    border: black solid 4px;
    animation: border-nhay 1000ms infinite;
}
.hide{
    display: none;
}
.over-lay{
    top: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 2;
}
.register{
    position: fixed;
    top: 15%;
    left: -100%;
    /* left: 20%;
    top: 15%; */
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: black;
    border-radius: 3rem;
    padding: 3rem;
    transition: all 0.5s ease;
    box-shadow: 10px 10px 10px rgb(50, 50, 50);
    z-index: 3;
    
}
.img-register > img{
    width: 400px;
}
.register-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.register-form input{
    padding: 1rem;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    float: right;
    margin: 0 2rem;
}
.register-form button{
    margin-top: 1rem;
    width: 150px;
    height: 40px;
    border-radius: 1rem;
    background-color: black;
    font-size: 20px;
    animation: border-nhay 1000ms infinite;
}

.muted{
    position: fixed;
    background-color: rgb(158, 158, 0);
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 40px;
    cursor: pointer;
}

@media screen and (max-width: 1080px) {
    .em-gai-3,
    .em-gai-4{
        display: none;
    }
}
